#==========================================================
# Security
# If it is required for this app to authenticate the user.
#==========================================================
ALLOW_LOGIN=NO
ENFORCE_SERVER_UP_DETECTION=NO

# FIll up info if user want to pre-fill the login fields
BASIC_USER=vstsadmin
BASIC_PASS=admin12345!

#Main Page Customization
PAGE_ABOUT_TITLE=About
PAGE_API_TITLE=API Calls
PAGE_AUDIT_TITLE=Windows Audit
PAGE_CONFIG_TITLE=Configuration
PAGE_FORM_TITLE=Data Entry
PAGE_INDEX_TITLE=LaFrameRagTS
PAGE_LTE_TITLE=AdminLTE
PAGE_MDB_TITLE=MDB Database
PAGE_PDFMAKE_TITLE=PDF Maker
PAGE_QRCODE_TITLE=QR Code
PAGE_REPORT_TITLE=Report Code
PAGE_SERIAL_TITLE=Serial Receiver
PAGE_VIDEO_TITLE=Video Capture
PAGE_LOGIN_TITLE=Login

#=============================================================
# Ollama Model Configuration
# Used this to customized Sophia
#=============================================================
AI_MASTER_MODEL=llama2
AI_MASTER_HOST=127.0.0.1
AI_MASTER_PORT=11434

AI_IMAGE_MODEL=llava
AI_IMAGE_HOST=127.0.0.1
AI_IMAGE_PORT=11434

AI_EMBED_MODEL=nomic-embed-text
AI_EMBED_HOST=127.0.0.1
AI_EMBED_PORT=11434

AI_TOOLING_MODEL=mistral
AI_TOOLING_HOST=127.0.0.1
AI_TOOLING_PORT=11434

AI_EXTRA_MODEL=ANY
AI_EXTRA_HOST=127.0.0.1
AI_EXTRA_PORT=11434

# AI Query Settings
AI_TEMPERATURE=0.7
AI_MAX_TOKENS=-1

# VECTOR DATABASE (ChromaDB)
VEC_EMBED_HOST=127.0.0.1
VEC_EMBED_PORT=8000
VEC_CHUNK=1000
VEC_CHUNK_OVERLAP=200

COLLECTION_NAME=sophia-collection

#=============================================================
# Database Configuration
# Used only of the app will be accesing the database directly
# and not via API calls to an application server.
#=============================================================
DB_HOST=LOCALHOST
DB_USER=root
DB_PASSWORD=password
DB_NAME=sakila
DB_ENTITY=GENESYS

#============================================================
# Application Server.
# This is the source of the app all data and business logic.
#============================================================
APP_PROTOCOL=http
APP_HOST=127.0.0.1
APP_PORT=4140

APP_SERVER_CHECK=NO
APP_SERVER_CHECK_INTERVAL=10000


#Receiving Port
PORT_RCV_NAME=COM1
PORT_RCV_BAUD=9600

#Sending Port
PORT_SND_NAME=COM2
PORT_SND_BAUD=9600

#MDBTools
MDB_PATH=C:\MDBTOOLS-WIN
MDB_DBPATH=D://Test.mdb

#Check for updates
APP_UPDATE_URL=https://example.com/version.txt

# Camera Control
CAM_MIN_ZOOM_VALUE=100
CAM_MAX_ZOOM_VALUE=300
CAM_ZOOM_STEP=50
CAM_INIT_VALUE=300
