#JWT 09/28/2023
BASIC_USERNAME=jamesweb
BASIC_PASSWORD=T3l3sc0p3@!!
JWT_SECRET=F4m3!
TOKEN_EXPIRE=1h

# Database Settings
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_dev
DB_USERNAME=root
DB_PASSWORD=password

# Server Settings
PORT=3000

# Logging Service Settings
LOG_DIR='../../logs'
